html{
	height: 100vh;
	width: 100vw;
}

body{
	height: 100vh;
	width: 100vw;
	background-image: url("../images/home_bg.jpg");
	background-size: cover;
	background-attachment:fixed; 
}

.person-icon{
	max-width: 150px;
	max-height: 150px;
}

.person{
	background-color: white;
	opacity: 0.8;
	border-radius: 3vh;
}